@model PermisoVuelosCharterEspeciales.Models.permisos_vuelo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>permisos_vuelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_solicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_solicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.num_solicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.num_solicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.num_vuelos_solicitados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.num_vuelos_solicitados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_oaci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_oaci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cedula_ruc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cedula_ruc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vigencia_seguro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vigencia_seguro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proposito_vuelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proposito_vuelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pasajeros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pasajeros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.num_pasajeros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.num_pasajeros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_fletador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_fletador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono_fletador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono_fletador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fax_fletador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fax_fletador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_fletador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion_fletador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email_fletador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email_fletador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permiso_operador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permiso_operador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.especificaciones_operacionales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.especificaciones_operacionales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.forma_pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.forma_pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_representante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_representante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalle_vuelo_complementado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalle_vuelo_complementado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
